@font-face {
  font-family: 'DMSans';
  src: url('../assets/fonts/DMSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Para mejor rendimiento */
}

@font-face {
  font-family: 'Dongle-Regular';
  src: url('../assets/fonts/Dongle-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zain-Light';
  src: url('../assets/fonts/Zain-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zain-Regular';
  src: url('../assets/fonts/Zain-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zain-Bold';
  src: url('../assets/fonts/Zain-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme{
    --font-DMSans: 'DMSans', sans-serif;
    --font-Dongle: 'Dongle-Regular', sans-serif;
    --font-Zain: 'Zain-Regular', sans-serif;
    --font-Zain-Bold: 'Zain-Bold', sans-serif;
    --font-Zain-Light: 'Zain-Light', sans-serif;
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  blockquote {
    border-left: 3px solid gray;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }
    /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
    /* Mostrar puntos en listas no ordenadas */
  ul {
    list-style-type: disc;
  }

  /* Mostrar números en listas ordenadas */
  ol {
    list-style-type: decimal;
  }

  /* Asegurar que los li tengan display: list-item */
  li {
    display: list-item;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  mark {
    background-color: #faf594;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }
}